.swiper-container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   overflow: hidden;
   list-style: none;
   padding: 0;
   /* Fix of Webkit flickering */
   z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
   flex-direction: column;
}
.swiper-wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   z-index: 2;
   display: flex;
   transition-property: transform;
   box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
   transform: translate3d(0px, 0, 0);
}
.works-page {
   .swiper-wrapper img {
      padding-bottom: 30px;
      min-height: 220px;
      width: 100%;
      @media screen and (min-width: 640px) {
         height: 340px;
      }
   }
   .swiper-pagination {
   }
   .swiper-slide {
      // position: relative;
      // .swiper-slide__title

      &__title {
         font-size: 20px;
         line-height: 29px;
         @media screen and (min-width: 640px) {
            font-size: 24px;
            line-height: 24px;
         }
      }

      // .swiper-slide__sub

      &__sub {
         padding-top: 5px;
         margin-bottom: 20px;
         font-weight: 500;
         font-size: 18px;
         line-height: 27px;
         color: $mainTextColor;
         opacity: 0.5;
      }
   }
   // .swiper-pagination {
   //    position: absolute;
   //    left: 0;
   //    bottom: 0;
   // }
   .card-work {
      // .card-work__arrows

      &__arrows {
      }
   }
   .swiper-horizontal > .swiper-pagination-bullets,
   .swiper-pagination-bullets.swiper-pagination-horizontal,
   .swiper-pagination-custom,
   .swiper-pagination-fraction {
      position: absolute;
      bottom: 0;
      left: 0;
      .swiper-pagination-bullet-active {
         background-color: $mainBrownColor;
      }
   }
   .swiper-button {
      opacity: 0;
   }
}
.partners-page {
   .slider__body {
      position: relative;
   }
   .swiper-container {
   }
   .swiper-wrapper {
      width: 145px;
      height: 142px;
      @media screen and (min-width: 640px) {
         width: 290px;
      }
   }
   .swiper-slide img {
      padding: 12px 14px;
      height: 32px;
      width: 105px;
      border: 1px solid #e9e9e8;
      @media screen and (min-width: 640px) {
         width: 152px;
      }
   }
   .swiper-horizontal > .swiper-pagination-bullets,
   .swiper-pagination-bullets.swiper-pagination-horizontal,
   .swiper-pagination-custom,
   .swiper-pagination-fraction {
      .swiper-pagination-bullet-active {
         background-color: $mainBrownColor;
      }
   }
}
