.advantages-page {
   font-family: "Raleway", sans-serif;
   font-weight: 600;
   color: $mainTextColor;
   padding-bottom: 50px;
   // .advantages-page__title

   &__title {
      padding-bottom: 50px;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      text-transform: uppercase;
      @media screen and (min-width: 640px) {
         font-size: 36px;
         line-height: 45px;
      }
      @media screen and (min-width: 1000px) {
         font-size: 46px;
         line-height: 58px;
      }
   }
}
.card-set {
   border-top: 1px solid #e7e7e6;
   border-bottom: 1px solid #e7e7e6;
   :hover {
      .card-set__title {
         color: $mainBrownColor;
         transition: color 500ms ease-in;
      }
      .card-set__images {
         padding-top: 20px;
         opacity: 1;
         transform: scale(1.2);
         transition: transform 500ms ease-in-out;
      }
      .card-set__number {
         color: $mainBrownColor;
         transition: color 500ms ease-in;
         opacity: 1;
      }
   }
   hr {
      opacity: 0.2;
   }
   &__img {
      @media screen and (min-width: 640px) {
         width: 50%;
      }
   }
   &__text-block {
      @media screen and (min-width: 640px) {
         width: 50%;
         padding-left: 30px;
      }
   }

   // .card-set__item

   &__item {
      position: relative;
      padding: 30px 0 30px 37px;
      @media screen and (min-width: 640px) {
         display: flex;
      }
      border-bottom: 1px solid #e7e7e6;
   }

   // .card-set__number

   &__number {
      position: absolute;
      left: 0;
      top: 29px;
      font-size: 20px;
      line-height: 26px;
      color: $mainTextColor;
      opacity: 0.3;
   }

   // .card-set__images

   &__images {
      @media screen and (max-width: 768px) {
         display: none;
      }
      @media screen and (min-width: 640px) {
         display: inline-block;
         opacity: 0;
         padding-left: 40px;
      }
   }

   // .card-set__title

   &__title {
      font-size: 20px;
      line-height: 26px;
      @media screen and (min-width: 640px) {
         font-size: 28px;
         line-height: 36px;
         cursor: pointer;
      }
   }

   // .card-set__text

   &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      opacity: 0.8;
      @media screen and (min-width: 1000px) {
         max-width: 424px;
      }
   }
}
