.benefit-page {
   font-weight: 600;
   text-align: center;
   color: $mainTextColor;
   background-color: #f3f3f3;
   &__body {
      padding: 80px 0;
   }

   // .benefit-page__title

   &__title {
      font-size: 24px;
      line-height: 32px;
      text-transform: uppercase;
      @media screen and (min-width: 640px) {
         font-size: 36px;
         line-height: 45px;
      }
      @media screen and (min-width: 1000px) {
         max-width: 362px;
         margin: 0 auto;
         font-size: 46px;
         line-height: 58px;
      }
   }

   // .benefit-page__conditions

   &__conditions {
      padding: 20px 0 40px 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      opacity: 0.8;
      @media screen and (min-width: 1000px) {
         max-width: 362px;
         margin: 0 auto;
      }
   }

   // .benefit-page__button

   &__button {
      width: 100%;
      @media screen and (min-width: 640px) {
         margin-left: auto;
         margin-right: auto;
         max-width: 260px;
      }
   }
   .gift-card {
      @media screen and (max-width: 1000px) {
         display: none;
      }
      @media screen and (min-width: 1000px) {
         position: relative;
         display: flex;
         justify-content: space-between;
         padding: 0 80px;
         &__left {
            ::before {
               content: " ";
               background: url("../../files/images/present/toaster-min.png");
               position: absolute;
               bottom: 40px;
               left: 44px;
               width: 160px;
               height: 130px;
            }
         }
         &__right {
            ::before {
               content: " ";
               background: url("../../files/images/present/microwave-min.png");
               position: absolute;
               bottom: 40px;
               right: 44px;
               width: 193px;
               height: 130px;
            }
         }
      }

      // .gift-card__left
   }
}
