.contact-page {
   padding-top: 80px;
   font-family: "Raleway";
   font-weight: 500;
   .container {
      width: 100vw;
      background-color: $mainGreenColor;
      color: $mainWhiteColor;
   }
   // .contact-page__title

   &__title {
      padding-top: 80px;
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
      text-transform: uppercase;
   }

   // .contact-page__subtitle

   &__subtitle {
      padding-top: 20px;
      font-size: 16px;
      line-height: 23px;
      opacity: 0.8;
   }
}
.js-speaker-form {
}
.form {
   padding-top: 40px;
   // .form__button

   &__button {
   }
}
.formfield {
   // .formfield__input

   &__input {
      width: 100%;
      margin: 0;
   }

   // .formfield__label

   &__label {
   }
}
.policy {
   // .policy__checkbox

   &__checkbox {
   }

   // .policy__icon

   &__icon {
   }

   // .policy__check

   &__check {
   }

   // .policy__label

   &__label {
   }
}
