.footer-page {
   padding: 50px 0 40px 0;
   font-weight: 500;
   color: $mainTextColor;
   font-family: "Lato", sans-serif;
   // .footer-page__header

   &__header {
      border-bottom: 1px solid rgba(40, 43, 34, 0.2);
      @media screen and (min-width: 640px) {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
      }
      @media screen and (min-width: 1000px) {
         flex-wrap: nowrap;
         justify-content: space-between;
      }
   }

   // .footer-page__brands

   &__brands {
      border-bottom: 1px solid rgba(40, 43, 34, 0.2);
   }

   // .footer-page__copy

   &__copy {
      padding-top: 20px;
      opacity: 0.5;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 14px;
   }
}
.footer-social {
   position: relative;
   padding-bottom: 50px;
   @media screen and (min-width: 640px) {
      // padding-right: 170px;
   }
   @media screen and (min-width: 1000px) {
      // padding-right: 139px;
   }
   // .footer-social__title

   &__title {
      font-size: 14px;
      line-height: 14px;
      opacity: 0.5;
   }
}
.logo {
   // .logo__icon

   &__icon {
      display: block;
      padding-bottom: 30px;
   }
}
.profile-menu {
   display: flex;
   position: absolute;
   bottom: 44px;
   left: 90px;
   column-gap: 7px;
   @media screen and (min-width: 640px) {
      bottom: 59px;
   }

   // .profile-menu__item

   &__item {
   }

   // .profile-menu__link

   &__link {
   }
}
.footer-nav {
   display: flex;
   justify-content: space-between;
   @media screen and (min-width: 640px) {
      column-gap: 24px;
   }
   @media screen and (min-width: 768px) {
      column-gap: 70px;
   }
}
.navigation-menu {
   padding-bottom: 50px;
   // .navigation-menu__item

   &__item:not(:last-child) {
      padding-bottom: 20px;
      @media screen and (min-width: 640px) {
         padding-bottom: 30px;
      }
      :hover {
         transition: color 250ms ease-in-out;
         color: $mainBrownColor;
      }
   }

   // .navigation-menu__link

   &__link {
      text-decoration: none;
      font-size: 16px;
      line-height: 16px;
      color: $mainTextColor;
      :hover {
         transition: color 250ms ease-in-out;
         color: $mainBrownColor;
      }
   }
}
.footer-connect {
   padding-bottom: 50px;
   @media screen and (min-width: 640px) {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 122px;
   }
   @media screen and (min-width: 992px) {
      display: block;
   }

   // .footer-connect__link

   &__link {
      display: flex;
      text-decoration: none;
      padding-left: 7px;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      color: #3d4a39;
      @media screen and (min-width: 640px) {
         padding-top: 27px;
      }
      @media screen and (min-width: 992px) {
         padding-top: 0px;
      }
   }

   // .footer-connect__button

   &__button {
      margin-top: 25px;
      @media screen and (min-width: 640px) {
         padding: 22px 56px;
      }
   }
   &__phone {
   }

   // .footer-connec__button

   &__button {
   }
}

.brands-body {
   // .brands-body__title

   &__title {
      padding: 50px 0 30px 0;
      font-size: 18px;
      line-height: 18px;
      color: $mainGreenColor;
   }

   // .brands-body__item

   &__item {
      padding-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
      align-items: flex-start;
   }

   // .brands-body__list
   &__list {
      width: 110px;
      padding-right: 18px;
   }
   &__list:not(:last-child) {
      padding-bottom: 25px;
   }
}
