.form {
   // width: 100vw;
   padding: 40px 0 60px 0;
   font-family: "Raleway", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 23px;
   width: 100%;
   // input:invalid {
   //    background-color: $mainBrownColor;
   // }

   // .form__field

   &__field {
      position: relative;
      display: block;
   }

   // .form__input

   &__input {
      width: 100%;
      padding-top: 40px;

      outline: none;
      border: none;
      border-bottom: 2px solid #ffffff;
      background-color: inherit;
      color: #ffffff;
      opacity: 0.5;
      @media screen and (min-width: 1000px) {
         width: 99%;
      }
   }

   // .form__label

   &__label {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(-30%);
      transition: transform 250ms linear;
      opacity: 0.5;
   }
}

.form__field:focus-within > .form__label {
   transform: translateY(-30px);
   color: #cc9654;
}
.form__input:not(:placeholder-shown) + .form__label {
   transform: translateY(-30px);
   color: #cc9654;
}
.policy {
   padding-top: 40px;
   position: relative;
   display: block;
   // .policy__checkbox

   &__checkbox {
      appearance: none;
   }

   // .policy__icon

   &__icon {
      display: inline-block;
      position: absolute;
      top: 44px;
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $mainGreenColor;
      fill: #ffffff;
   }

   // .policy__check

   // .policy__label

   &__label {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #ffffff;
      padding-left: 20px;
   }
}
.policy__checkbox:checked ~ .policy__icon {
   fill: $mainBrownColor;
}

.inputfile-box {
   position: relative;
   padding: 25px 0 40px 0;
}

.inputfile {
   display: none;
}

.file-box {
   position: absolute;
   top: 48px;
   left: 0;
   display: inline-block;
   width: 100%;
   box-sizing: border-box;
   height: calc(2rem - 2px);
   font-size: 12px;
   // padding-top: 25px;
}

.file-button {
   padding-top: 25px;
   position: absolute;
   top: 0px;
   left: 22px;
   opacity: 0.5;
}
.file-label {
   position: absolute;
   // display: block;
   top: 22px;
   left: 0;
   opacity: 0.5;
}
