.hero-page {
   background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -13.19%, rgba(0, 0, 0, 0.85) 94.01%),
      url("/files/images/background/bg-hero.jpg");
   background-repeat: no-repeat;
   background-size: auto auto;
   width: 100%;
   text-align: center;
   color: $mainWhiteColor;
   padding-bottom: 20px;
   @media screen and (min-width: 360px) {
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -13.19%, rgba(0, 0, 0, 0.85) 94.01%),
         url("/files/images/background/hero-bg.jpg");
      background-repeat: no-repeat;
      background-size: auto auto;
      background-position: right top;
   }
   @media screen and (min-width: 640px) {
      background-size: auto auto;
      background-position: center top;
   }
   @media screen and (min-width: 1000px) {
      background-size: 100% auto;
      // background-position: center top;
   }
   // .hero-page__title
   &__title {
      padding-top: 70px;
      font-size: 28px;
      line-height: 34px;
      text-transform: uppercase;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 700;
      @media screen and (min-width: 640px) {
         font-size: 56px;
         line-height: 67px;
      }
      @media screen and (min-width: 1000px) {
         max-width: 537px;
         margin-left: auto;
         margin-right: auto;
      }
   }

   // .hero-page__subtitle
   &__subtitle p {
      padding-top: 28px;
      padding-bottom: 30px;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      opacity: 0.8;
      font-family: "Raleway", sans-serif;
      @media screen and (min-width: 640px) {
         font-size: 18px;
         line-height: 27px;
      }
      @media screen and (min-width: 1000px) {
         max-width: 537px;
         margin-left: auto;
         margin-right: auto;
      }
   }

   // .hero-page__button

   &__button {
      background-color: $mainBrownColor;
      box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
      @media screen and (min-width: 640px) {
         max-width: 260px;
         margin: 0 auto;
      }
   }

   // .hero-page__link

   &__link {
      font-weight: 700;
      text-decoration: none;
      font-family: "Raleway";
      line-height: 16px;
      color: $mainWhiteColor;
   }
   .hero-break {
      margin: 62px 0 30px 0;
   }
}
