@media screen and (max-width: 768px) {
   .navigation-body {
      display: none;
   }
}
@media screen and (min-width: 768px) {
   .menu-toggle {
      display: none;
   }
}
.menu-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   padding: 20px 20px 20px 20px;
   background-color: white;
   z-index: 999;

   transform: translateX(100%);
   transition: transform 250ms ease-in-out;
}
.header-body .logo__icon {
   padding: 15px 0 15px 0;
}

.menu-toggle {
   position: absolute;
   right: 0px;
   top: 25px;
   // вирішити питання з іконкою бургера
   margin-right: -30px;
   background-color: transparent;
   cursor: pointer;
   border: none;
   outline: none;
}
.menu-container.is-open {
   transform: translateX(0);
}
.menu-container .menu-toggle {
   position: absolute;
   top: 25px;
   right: 50px;
   color: #fff;
}
.mobile-menu {
   padding: 0;
   margin: 0;
   list-style: none;
}

.mobile-menu .link {
   display: block;
   padding: 10px;
   color: #fff;
   text-decoration: none;
}
