@media screen and (max-width: 1000px) {
   .page-header .navigation-menu,
   .page-header .profile-header {
      display: none;
   }
}
@media screen and (min-width: 1000px) {
   .page-header .navigation-menu {
      display: flex;
   }
}
@media screen and (min-width: 640px) {
   .page-header .profile-header {
      display: flex;
   }
}
@media screen and (min-width: 1000px) {
   .menu-toggle {
      display: none;
   }
}
.menu-container {
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background-color: white;
   z-index: 999;
   transform: translateX(100%);
   transition: transform 250ms ease-in-out;

   @media screen and (min-width: 640px) {
      width: 50%;
      .logo__icon {
         opacity: 0;
         transition: opacity 250ms ease-in-out;
      }
   }
}
.header-body .logo__icon {
   padding: 15px 0 15px 0;
}

.menu-toggle {
   position: absolute;
   right: 10px;
   top: 27px;
   background-color: transparent;
   cursor: pointer;
   border: none;
   outline: none;
}

.menu-container.is-open {
   transform: translateX(0);
}

.menu-container .menu-toggle {
   position: absolute;
   top: 29px;
   right: 17px;
   color: #fff;
}
.menu-container .logo__icon {
   padding: 20px;
}
.menu-container .mobile-body {
   padding: 54px 20px 40px 20px;
   // margin: 54px 0 40px 0;
}
.mobile-menu .link {
   display: block;
   padding: 10px;
   color: #fff;
   text-decoration: none;
}
.mobile-list {
   padding-bottom: 40px;

   list-style: none;
   .mobile-list__item:not(:last-child) {
      padding-bottom: 25px;
   }
   .mobile-list__link {
      display: block;
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: $mainTextColor;
   }
   .mobile-list__link:hover {
      transition: color 250ms ease-in-out;
      color: $mainBrownColor;
   }
}
.mobile-form {
   margin: 30px 0 10px 0;
   .hero-page__link {
      display: block;
      padding: 22px 72px;
      text-decoration: none;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      color: $mainWhiteColor;
      background-color: $mainBrownColor;
      box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
      :hover {
         background: #cc9654;
         box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
         transition: background 250ms ease-in-out;
      }
   }
   &__link {
      display: block;
      text-align: center;
      font-weight: 700;
      text-decoration: none;
      font-family: "Raleway";
      line-height: 16px;
      color: $mainWhiteColor;
   }
}

.mobile-sosial {
   display: flex;
   align-items: center;
   padding-bottom: 128px;
   :not(:last-child) {
      padding-right: 15px;
   }
   // .mobile-sosial__menu

   &__menu {
      display: flex;
   }
   @media screen and (min-width: 640px) {
      display: none;
   }
}
.mobile-phone {
   // .mobile-phone__menu
   &__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      color: $mainGreenColor;
      font-family: "Lato";
      font-weight: 600;
      .phone {
         padding-right: 7px;
      }
      :hover {
         transition: color 250ms ease-in-out;
         color: $mainBrownColor;
      }
   }
   @media screen and (min-width: 640px) {
      display: none;
   }
}
