.stages-page {
   padding: 80px 0 100px 0;
   font-family: "Raleway", sans-serif;
   font-weight: 600;
   color: $mainTextColor;
   &__container {
      @media screen and (min-width: 1000px) {
         max-width: 620px;
      }
      @media screen and (min-width: 1440px) {
         max-width: 1199px;
      }
   }
   // .stages-page__title

   &__title {
      font-size: 24px;
      line-height: 32px;
      text-transform: uppercase;
      text-align: center;
      @media screen and (min-width: 640px) {
         font-size: 36px;
         line-height: 45px;
      }
      @media screen and (min-width: 1000px) {
         font-size: 46px;
         line-height: 58px;
      }
   }
}
.card-stages {
   @media screen and (min-width: 640px) {
      display: flex;
      flex-wrap: wrap;
   }
   @media screen and (min-width: 1000px) {
      column-gap: 140px;
   }
   @media screen and (min-width: 1440px) {
      flex-wrap: nowrap;
      column-gap: 80px;
   }
   // .card-stages__items

   &__items {
      padding-top: 60px;
      @media screen and (min-width: 640px) {
         flex: 0 1 240px;
         padding-left: 60px;
      }
      @media screen and (min-width: 1000px) {
         padding-left: 0px;
      }
   }

   // .card-stages__number

   &__number {
      padding: 12px;
      font-size: 20px;
      line-height: 29px;
      border: 1px solid #282b22;
      border-radius: 50%;
      opacity: 0.3;
   }

   // .card-stages__title

   &__title {
      padding-top: 26px;
      font-size: 18px;
      line-height: 18px;
      color: #282b22;
   }

   // .card-stages__text

   &__text {
      padding-top: 15px;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      color: #282b22;
      opacity: 0.8;
   }
}
