$mainTextColor: rgba(40, 43, 34, 1);
// $mainBlackGreenColor: #282B22;
$mainGreenColor: #3d4a39;
$mainBrownColor: #ae7b3c;
$mainGrуyColor: #f3f3f3;
$mainWhiteColor: rgba(255, 255, 255, 1);
// body{
//    background-color: $mainGreenColor;
// }
