@charset "UTF-8";
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  color: rgb(40, 43, 34);
  background-color: #fff;
  overflow: hidden;
}

html {
  overflow-x: hidden;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Medium"), local("Lato-Medium"), url("/files/fonts/Lato-Medium.woff2") format("woff2"), url("/files/fonts/Lato-Medium.woff") format("woff"), url("/files/fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("/files/fonts/Lato Semi Bold"), local("Lato-Semi-Bold"), url("/files/fonts/Lato-Semibold.woff2") format("woff2"), url("/files/fonts/Lato-Semibold.woff") format("woff"), url("/files/fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("/files/fonts/Lato-Bold.woff2") format("woff2"), url("/files/fonts/Lato-Bold.woff") format("woff"), url("/files/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium"), local("Raleway-Medium"), url("/files/fonts/Raleway-Medium.woff2") format("woff2"), url("/files/fonts/Raleway-Medium.woff") format("woff"), url("/files/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Semi Bold"), local("Raleway-Semi-Bold"), url("/files/fonts/Raleway-SemiBold.woff2") format("woff2"), url("/files/fonts/Raleway-SemiBold.woff") format("woff"), url("/files/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Regular"), local("Raleway-Regular"), url("/files/fonts/Raleway-Regular.woff2") format("woff2"), url("/files/fonts/Raleway-Regular.woff") format("woff"), url("/files/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Bold"), local("Raleway-Bold"), url("/files/fonts/Raleway-Bold.woff2") format("woff2"), url("/files/fonts/Raleway-Bold.woff") format("woff"), url("/files/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 280px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 440px;
  }
}
@media screen and (min-width: 640px) {
  .container {
    width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 728px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 920px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1159px;
  }
}

.form-label__button {
  width: 100%;
  display: block;
  padding: 22px 0 22px 0;
  margin-top: 35px;
  outline: none;
  border: none;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff;
  background-color: #ae7b3c;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
}

.backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  z-index: 999;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 530px;
  background: #3d4a39;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 280px) {
  .modal {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
.modal__container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.modal__title {
  padding-top: 60px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}
.modal__icon-close {
  position: absolute;
  right: 7px;
  top: -34px;
  border: none;
  background-color: inherit;
  fill: rgb(255, 255, 255);
}

.form__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  opacity: 0.8;
  text-align: center;
}

.is-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 620px;
  background: #3d4a39;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 280px) {
  .is-modal {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .is-modal {
    width: 450px;
  }
}
.is-modal .textarea {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}
.is-modal .textarea textarea:focus::-moz-placeholder {
  color: #cc9654;
  opacity: 1;
}
.is-modal .textarea textarea:focus::placeholder {
  color: #cc9654;
  opacity: 1;
}
.is-modal .textarea__input {
  width: 100%;
  padding-top: 25px;
  font-size: 16px;
  line-height: 24px;
  resize: none;
  background-color: #3d4a39;
  border: none;
}
.is-modal .textarea :focus {
  outline: none;
  color: #ffffff;
  opacity: 0.5;
}
.is-modal .textarea ::-moz-placeholder {
  color: #ffffff;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
}
.is-modal .textarea ::placeholder {
  color: #ffffff;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.works-page .swiper-wrapper img {
  padding-bottom: 30px;
  height: 220px;
  width: 100%;
}
.works-page .swiper-slide__title {
  font-size: 20px;
  line-height: 29px;
}
.works-page .swiper-slide__sub {
  padding-top: 5px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgb(40, 43, 34);
  opacity: 0.5;
}
.works-page .swiper-horizontal > .swiper-pagination-bullets,
.works-page .swiper-pagination-bullets.swiper-pagination-horizontal,
.works-page .swiper-pagination-custom,
.works-page .swiper-pagination-fraction {
  position: absolute;
  bottom: 0;
  left: 0;
}
.works-page .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active,
.works-page .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active,
.works-page .swiper-pagination-custom .swiper-pagination-bullet-active,
.works-page .swiper-pagination-fraction .swiper-pagination-bullet-active {
  background-color: #ae7b3c;
}
.works-page .swiper-button {
  opacity: 0;
}

.partners-page .slider__body {
  position: relative;
}
.partners-page .swiper-wrapper {
  width: 145px;
  height: 142px;
}
.partners-page .swiper-slide img {
  padding: 12px 24px;
  height: 32px;
  width: 105px;
  border: 1px solid #e9e9e8;
}
.partners-page .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active,
.partners-page .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active,
.partners-page .swiper-pagination-custom .swiper-pagination-bullet-active,
.partners-page .swiper-pagination-fraction .swiper-pagination-bullet-active {
  background-color: #ae7b3c;
}

.page-header {
  min-height: 75px;
  font-family: "Raleway";
  font-weight: 700;
}
@media screen and (min-width: 1000px) {
  .page-header__list {
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  .page-header__profile {
    -moz-column-gap: 51px;
         column-gap: 51px;
  }
}
@media screen and (min-width: 1000px) {
  .page-header .navigation-list__nav {
    display: flex;
    gap: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .page-header .navigation-list__nav {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .page-header .navigation-list__nav {
    -moz-column-gap: 79px;
         column-gap: 79px;
  }
}
@media screen and (min-width: 1000px) {
  .page-header .navigation-list__menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    -moz-column-gap: 30px;
         column-gap: 30px;
    padding: 30px 0;
  }
}
@media screen and (min-width: 1000px) and (min-width: 1440px) {
  .page-header .navigation-list__menu {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media screen and (min-width: 1000px) and (min-width: 1440px) {
  .page-header .navigation-list__menu {
    -moz-column-gap: 79px;
         column-gap: 79px;
  }
}
@media screen and (min-width: 1000px) {
  .page-header .navigation-list__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #282b22;
  }
}
.page-header .logo__icon {
  padding: 15px 0 15px 0;
}
@media screen and (min-width: 640px) {
  .page-header .profile-header {
    position: absolute;
    top: 30px;
    right: 80px;
    z-index: 9999;
  }
}
@media screen and (min-width: 1000px) {
  .page-header .profile-header {
    right: 35px;
  }
}
@media screen and (min-width: 640px) {
  .page-header .profile-header__menu {
    display: flex;
    gap: 15px;
  }
}
@media screen and (min-width: 1000px) {
  .page-header .profile-header__menu {
    padding-left: 51px;
  }
}
@media screen and (min-width: 640px) {
  .page-header .profile-header__phone {
    padding-left: 50px;
    z-index: 9999;
  }
}
@media screen and (min-width: 640px) {
  .page-header .profile-header__links {
    font-family: "Lato";
    font-weight: 500;
    text-decoration: none;
    color: #3d4a39;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 640px) {
  .page-header .profile-header__icon {
    vertical-align: -5px;
  }
}

.hero-page {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -13.19%, rgba(0, 0, 0, 0.85) 94.01%), url("/files/images/background/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: auto auto;
  min-width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}
@media screen and (min-width: 640px) {
  .hero-page {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -13.19%, rgba(0, 0, 0, 0.85) 94.01%), url("/files/images/background/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.hero-page__title {
  padding-top: 70px;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
}
@media screen and (min-width: 640px) {
  .hero-page__title {
    font-size: 56px;
    line-height: 67px;
  }
}
.hero-page__subtitle {
  padding-top: 28px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  opacity: 0.8;
  font-family: "Raleway";
}
@media screen and (min-width: 640px) {
  .hero-page__subtitle {
    font-size: 18px;
    line-height: 27px;
  }
}
.hero-page__button {
  margin-bottom: 62px;
}
.hero-page__link {
  font-weight: 700;
  padding: 20px 62px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #ae7b3c;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
  font-family: "Raleway";
  line-height: 16px;
}
.hero-page__link :hover {
  background: #cc9654;
}
.hero-page .hero-break {
  margin-bottom: 30px;
}

.directions-page {
  padding: 80px 0 80px 0;
  font-family: "Raleway", sans-serif;
}
.directions-page__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: rgb(40, 43, 34);
}

.card-product__item {
  padding-top: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
}
.card-product__number {
  color: rgb(40, 43, 34);
  opacity: 0.5;
}
.card-product__subtitle {
  padding-top: 20px;
  font-family: "Raleway", sans-serif;
  color: #3d4a39;
}

.services-page {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
}
.services-page .container {
  background-color: #3d4a39;
}
.services-page__title {
  padding-top: 80px;
}

.card-icon {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 80px 0;
}
.card-icon__item {
  flex: 1 50%;
}
.card-icon__title {
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  opacity: 0.5;
}
.card-icon__svg :not(:first-child) {
  padding-top: 48px;
}

.about-page {
  padding: 80px 0;
}
.about-page__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: rgb(40, 43, 34);
}

@media screen and (max-width: 768px) {
  .video-card {
    display: none;
  }
}
.content-list {
  padding-top: 50px;
}
.content-list__item {
  position: relative;
  padding: 30px 0;
}
.content-list__item ::before {
  content: url("/files/images/about-video/point.png");
  position: absolute;
  left: 0;
  top: 30px;
}
.content-list__text {
  padding-left: 38px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 23px;
  color: rgb(40, 43, 34);
  opacity: 0.8;
}

.advantages-page {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: rgb(40, 43, 34);
}
.advantages-page__title {
  padding-bottom: 50px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

.card-set__item {
  position: relative;
  padding: 30px 0 30px 37px;
}
.card-set__number {
  position: absolute;
  left: 0;
  top: 29px;
  font-size: 20px;
  line-height: 26px;
  color: rgb(40, 43, 34);
  opacity: 0.3;
}
@media screen and (max-width: 768px) {
  .card-set__images {
    display: none;
  }
}
.card-set__title {
  font-size: 20px;
  line-height: 26px;
}
.card-set__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.8;
}

.contact-page {
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 640px) {
  .contact-body {
    display: flex;
    flex: 1 1 50%;
  }
}
.contact-body__form {
  background-color: #3d4a39;
  padding: 0 20px 0 20px;
}
@media screen and (min-width: 1000px) {
  .contact-body__form {
    padding: 0 20px 0 200px;
  }
}
.contact-body__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 34px;
}
@media screen and (min-width: 640px) {
  .contact-body__title {
    font-size: 35px;
    line-height: 46px;
  }
}
.contact-body__sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  opacity: 0.8;
}
.contact-body__background {
  background-image: url("/files/images/background/form-bg.jpg");
  width: 100%;
  min-height: 280px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}
@media screen and (min-width: 640px) {
  .contact-body__background {
    width: 100vw;
    background-size: auto auto;
  }
}

.stages-page {
  padding: 80px 0 100px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: rgb(40, 43, 34);
}
.stages-page__title {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
}

.card-stages__items {
  padding-top: 60px;
}
.card-stages__number {
  padding: 12px;
  font-size: 20px;
  line-height: 29px;
  border: 1px solid #282b22;
  border-radius: 50%;
  opacity: 0.3;
}
.card-stages__title {
  padding-top: 26px;
  font-size: 18px;
  line-height: 18px;
  color: #282b22;
}
.card-stages__text {
  padding-top: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #282b22;
  opacity: 0.8;
}

.works-page {
  padding: 30px 0 80px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.works-page__title {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: rgb(40, 43, 34);
}
.slider__body {
  padding-top: 40px;
}

.benefit-page {
  font-weight: 600;
  text-align: center;
  color: rgb(40, 43, 34);
  background-color: #f3f3f3;
  /* Чорний */
}
.benefit-page__body {
  padding: 80px 0;
}
.benefit-page__title {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}
.benefit-page__conditions {
  padding: 20px 0 40px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.8;
}
.gift-card {
  display: none;
}

.partners-page {
  padding: 80px 0;
  text-align: center;
}
.partners-page__title {
  padding-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}
.discuss-page {
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 640px) {
  .body-discuss {
    display: flex;
    flex: 1 1 50%;
  }
}
.body-discuss__form {
  background-color: #3d4a39;
  padding: 0 20px 0 20px;
}
@media screen and (min-width: 1000px) {
  .body-discuss__form {
    padding: 0 20px 0 200px;
  }
}
.body-discuss__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 34px;
}
@media screen and (min-width: 640px) {
  .body-discuss__title {
    font-size: 35px;
    line-height: 46px;
  }
}
.body-discuss__sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  opacity: 0.8;
}
.body-discuss__background {
  background-image: url("/files/images/background/feedback-bg.jpg");
  width: 100%;
  min-height: 260px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}
@media screen and (min-width: 640px) {
  .body-discuss__background {
    width: 100vw;
    background-size: auto auto;
  }
}

.footer-page {
  padding: 50px 0 40px 0;
  font-weight: 500;
  color: rgb(40, 43, 34);
  font-family: "Raleway", sans-serif;
}
.footer-page__brands {
  border-bottom: 1px solid rgba(40, 43, 34, 0.2);
}
.footer-page__copy {
  padding-top: 20px;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
}

.footer-social {
  position: relative;
  padding-bottom: 50px;
}
.footer-social__title {
  font-size: 14px;
  line-height: 14px;
  opacity: 0.5;
}

.logo__icon {
  display: block;
  padding-bottom: 30px;
}

.profile-menu {
  display: flex;
  position: absolute;
  bottom: 44px;
  left: 90px;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
}

.navigation-menu {
  padding-bottom: 50px;
}
.navigation-menu__item:not(:last-child) {
  padding-bottom: 20px;
}
.navigation-menu__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: rgb(40, 43, 34);
}

.footer-connect {
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(40, 43, 34, 0.2);
}
.footer-connect__link {
  display: flex;
  text-decoration: none;
  padding-left: 7px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #3d4a39;
}
.footer-connect__button {
  margin-top: 25px;
}

.brands-body__title {
  padding: 50px 0 30px 0;
  font-size: 18px;
  line-height: 18px;
  color: #3d4a39;
}
.brands-body__item {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.brands-body__list {
  width: 110px;
  padding-right: 18px;
}
.brands-body__list:not(:last-child) {
  padding-bottom: 25px;
}

.footer-page {
  padding: 50px 0 40px 0;
  font-weight: 500;
  color: rgb(40, 43, 34);
  font-family: "Raleway", sans-serif;
}
.footer-page__brands {
  border-bottom: 1px solid rgba(40, 43, 34, 0.2);
}
.footer-page__copy {
  padding-top: 20px;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
}

.footer-social {
  position: relative;
  padding-bottom: 50px;
}
.footer-social__title {
  font-size: 14px;
  line-height: 14px;
  opacity: 0.5;
}

.logo__icon {
  display: block;
  padding-bottom: 30px;
}

.profile-menu {
  display: flex;
  position: absolute;
  bottom: 44px;
  left: 90px;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
}

.navigation-menu {
  padding-bottom: 50px;
}
.navigation-menu__item:not(:last-child) {
  padding-bottom: 20px;
}
.navigation-menu__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: rgb(40, 43, 34);
}

.footer-connect {
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(40, 43, 34, 0.2);
}
.footer-connect__link {
  display: flex;
  text-decoration: none;
  padding-left: 7px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #3d4a39;
}
.footer-connect__button {
  margin-top: 25px;
}

.brands-body__title {
  padding: 50px 0 30px 0;
  font-size: 18px;
  line-height: 18px;
  color: #3d4a39;
}
.brands-body__item {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.brands-body__list {
  width: 110px;
  padding-right: 18px;
}
.brands-body__list:not(:last-child) {
  padding-bottom: 25px;
}

@media screen and (max-width: 1000px) {
  .page-header .navigation-menu,
  .page-header .profile-header {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .page-header .navigation-menu {
    display: flex;
  }
}
@media screen and (min-width: 640px) {
  .page-header .profile-header {
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px 20px 20px 20px;
  background-color: white;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
@media screen and (min-width: 640px) {
  .menu-container {
    width: 40vw;
  }
}
@media screen and (min-width: 640px) {
  .menu-container .logo__icon {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }
}

.header-body .logo__icon {
  padding: 15px 0 15px 0;
}

.menu-toggle {
  position: absolute;
  right: 0px;
  top: 25px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 28px;
  right: 25px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.mobile-list {
  margin: 54px 0 40px 0;
}
.mobile-list .mobile-list__item:not(:last-child) {
  padding-bottom: 25px;
}
.mobile-list .mobile-list__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: rgb(40, 43, 34);
}
.mobile-list .mobile-list__link:hover {
  transition: color 250ms ease-in-out;
  color: #ae7b3c;
}

.mobile-form {
  margin: 30px 0 10px 0;
}
.mobile-form .hero-page__link {
  display: block;
  padding: 22px 72px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: rgb(255, 255, 255);
  background-color: #ae7b3c;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
}
.mobile-form .hero-page__link :hover {
  background: #cc9654;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
  transition: background 250ms ease-in-out;
}

.mobile-sosial {
  display: flex;
  align-items: center;
  padding-bottom: 128px;
}
.mobile-sosial :not(:last-child) {
  padding-right: 15px;
}
.mobile-sosial__menu {
  display: flex;
}
@media screen and (min-width: 640px) {
  .mobile-sosial {
    display: none;
  }
}

.mobile-phone__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #3d4a39;
  font-family: "Lato";
  font-weight: 600;
}
.mobile-phone__link .phone {
  padding-right: 7px;
}
.mobile-phone__link :hover {
  transition: color 250ms ease-in-out;
  color: #ae7b3c;
}
@media screen and (min-width: 640px) {
  .mobile-phone {
    display: none;
  }
}

.form {
  padding: 40px 0 60px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  width: 100%;
}
.form__field {
  position: relative;
  display: block;
}
.form__input {
  width: 100%;
  padding-top: 40px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ffffff;
  background-color: inherit;
  color: #ffffff;
  opacity: 0.5;
}
.form__label {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(-30%);
  transition: transform 250ms linear;
  opacity: 0.5;
}

.form__field:focus-within > .form__label {
  transform: translateY(-30px);
  color: #cc9654;
}

.form__input:not(:-moz-placeholder-shown) + .form__label {
  transform: translateY(-30px);
  color: #cc9654;
}

.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-30px);
  color: #cc9654;
}

.policy {
  padding-top: 40px;
  position: relative;
  display: block;
}
.policy__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.policy__icon {
  display: inline-block;
  position: absolute;
  top: 44px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #3d4a39;
  fill: #ffffff;
}
.policy__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  padding-left: 20px;
}

.policy__checkbox:checked ~ .policy__icon {
  fill: #ae7b3c;
}

.inputfile-box {
  position: relative;
  padding: 25px 0 40px 0;
}

.inputfile {
  display: none;
}

.file-box {
  position: absolute;
  top: 48px;
  left: 0;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  height: calc(2rem - 2px);
  font-size: 12px;
}

.file-button {
  padding-top: 25px;
  position: absolute;
  top: 0px;
  left: 22px;
  opacity: 0.5;
}

.file-label {
  position: absolute;
  top: 22px;
  left: 0;
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */